body {
    background: rgba(150,140,130,1);
}

@media(max-width:767px) {
    body {
        background: rgba(255,0,0,1);
    }
}

[class^="col"] {
    background: rgba(0,200,50,1);
    padding-bottom:2em;
}