body{
background: rgba(200,200,200,1);
}

@media(max-width:767px) {
    body{
    background: rgba(225,225,225,1);
    }
}

[class^="col"]{
    padding-bottom:2em;
	background: rgba(255,255,255,0.25);  
}